<h3>Let us define schema of your data</h3>

<app-elastic-schema-item
  *ngIf="!schemaSubmit"
  [elsSchema]="elsSchema" [item]="elsSchema">
</app-elastic-schema-item>

<button class="btn btn-primary" *ngIf="!schemaSubmit"
        (click)="onSchemaSubmit()">
  Submit
</button>

<br>

<button id="resetButton" class="btn btn-danger" (click)="onReset()">Reset</button>

<div class="alert alert-warning" role="alert" *ngIf="els?.index != undefined">
  Changing a schema will create a new index, thus you may loose all your data!
</div>

<div class="alert alert-info" role="alert">
  After changing a key do not forget to type enter!
</div>

<app-els-summary *ngIf="schemaSubmit">

</app-els-summary>
