<nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center" style="background-color: #e3f2fd;">
  <div class="container">
    <ul class="navbar-nav">

      <li>
        <button routerLink="/" class="btn btn-secondary">
          Home
        </button>
      </li>

      <li>
        <a id="createDb"
           role="button"
           class="btn btn-success"
           routerLink="init-setup"
           [queryParams]="{submitted: false}"
        >Create a new database</a>
      </li>


    </ul>
  </div>

    <div class="navbar-collapse collapse w-100">
      <ul class="nav navbar-nav ms-auto w-100 justify-content-end" *ngIf="auth?.username == undefined">
          <li class="nav-item">
                    <a type="button" role="button"
                      class="btn btn-primary" routerLink="sign-up"
                    >Sign Up</a>
          </li>
          <li class="nav-item">
                    <a type="button" role="button"
                      class="btn btn-primary" routerLink="login"
                    >Log In</a>
          </li>
      </ul>

      <ul class="nav navbar-nav ms-auto w-100 justify-content-end" *ngIf="auth?.username != undefined">
        <li class="nav-item">
          <button
              (click)="logOut()"
              type="button"
              role="button"
              class="btn btn-primary"
            >
              Log Out
            </button>
        </li>
      </ul>
    </div>
</nav>

<router-outlet></router-outlet>


<div id="footer">
  <a target="_blank" href="https://icons8.com/icon/102550/remove">Remove</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
  <p>download icons PNG Designed By 588ku from <a href="https://pngtree.com"> Pngtree.com</a></p>
  <a href="https://www.flaticon.com/free-icons/database" title="database icons">Database icons created by srip - Flaticon</a>
</div>

