h1 {
  text-align: center;
}


a,button {
  margin-right: 2em;
}

#createDb {
  margin-left: 2em;
}


:host {
  display:block;
}

#footer {
  margin-top: 55em;
  left: 0;
  border: 3px solid #b1e864;
}
