<div id="summaryContainer">
  <p>Your data schema: </p>
  <div id="elsSchema" [innerHtml]="serializeSchemaToHtml(els?.schema)">
  </div>
</div>


<div class="endpoint">
  <p>Records retrieval endpoint: <br>
    <strong>POST: </strong>{{baseUrl}}/api/els/index/&#123;index&#125;
  </p>
  <br>

  <div id="exampleRequest">
    <p>Example request:</p>
    POST: {{baseUrl}}/api/els/index/34534534
    <div>&#123;
      <div>"1.2.3": &#123;
        <div>"gt": "2",</div>
        <div> "lt": "20"</div>
      &#125;</div>

    <div>"1.2.4": &#123;
      <div>"value": "some text",</div>
      <div> "type": "keyword"</div>
      &#125;</div>

    &#125;
    </div>
  </div>
</div>
<div class="endpoint">
  <p>Record create endpoint:</p>
  <strong>POST: </strong>{{baseUrl}}/api/els/index/&#123;index&#125;/doc
</div>


<div class="endpoint">
  <p>Record update endpoint:</p>
  <strong>PUT: </strong>
  {{baseUrl}}/api/els/index/&#123;index&#125;/doc/&#123;docId&#125;?fieldName=''&fieldValue=''
</div>


<div class="endpoint">
  <p>Record delete endpoint:</p>
  <strong>DELETE: </strong>{{baseUrl}}/api/els/index/&#123;index&#125;/doc/&#123;docId&#125;
</div>

<p><span class="boldText">Access Token:</span> {{els?.accessToken}}</p>
<p><span class="boldText">Index name:</span> {{els?.index}}</p>


