:host {
  display: block;
  border: solid 1px #b963d3;
  padding: 2em;
  border-radius: 2em;
}

:host ::ng-deep #elsSchema div, #elsSchema {
  border: solid 0.3px #6eff90;
  margin-top: 0.3em;
  margin-right: 0.3em;

  padding: 0.6em;
}

:host ::ng-deep #elsSchema span {
  margin-left: 0.6em;
}

#exampleRequest div{
  margin-left: 2em;
}

.endpoint {
  border: solid 0.4px #de5bd4;
  margin-top: 1em;
  padding: 0.6em;
}

.boldText {
  font-weight: bold;
}
