<h2>
  Your databases
</h2>

<div class="flexContainer">

  <div id="non-connected-flex-item" class="dbItem">
    <h3>Non-connected database API</h3>
    <app-els-summary *ngIf="state?.els?.index">
    </app-els-summary>
  </div>

  <div id="connected-flex-item" class="dbItem">
    <h3>Connected database API</h3>
    <app-neo4j-summary *ngIf="state?.neo4j">
    </app-neo4j-summary>
  </div>
</div>
