<h1>Sign Up</h1>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <label for="username">Login: </label>
  <input id="username" class="form-control" type="text" formControlName="username">

  <label for="password">Password: </label>
  <input id="password" class="form-control" type="password" formControlName="password">

  <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid">Submit</button>

  <div *ngIf="auth?.authError && auth?.authError != undefined"
       class="alert alert-danger"
       role="alert"
  >
    {{auth?.authError}}
  </div>
</form>
