:host {
  display:block;
  width: 30em;
  margin: auto;
}
h1 {
  text-align: center;
}

form {
  text-align: center;
  margin-top: 2em;
}

button {
  width: 5em;
  margin-top: 1em;
}

.alert {
  margin-top: 1.5em;
}

