<p>Cypher <strong>Match</strong> endpoint: POST <span>{{baseUrl}}</span> </p>
<p>Cypher <strong>Create</strong> endpoint: POST <span>{{baseUrl+"/record"}}</span></p>
<p>Cypher <strong>Delete</strong> endpoint: DELETE <span>{{baseUrl}}</span></p>
<p>Cypher <strong>Update</strong> endpoint: PUT <span>{{baseUrl}}</span></p>

<p><strong>Access token: </strong> <span>{{neo4jDb?.accessToken}}</span></p>


<div id="requestExample">
  <p>Each request has to have a request body with a json in such format:</p>

  <div>
    &#123;
    <div>"query": "match (p:Person)--(m:Movie) \n return p, m"</div>
    &#125;
  </div>
</div>
