<h3>You do not need any schema for a database of non-connected records</h3>


<button *ngIf="neo4jDb == undefined"
  class="btn btn-primary"
  (click)="onGraphDbCreate()"
>Create a database

</button>


<app-neo4j-summary *ngIf="neo4jDb != undefined">
</app-neo4j-summary>

