
<h2>Setup your database</h2>


<form [formGroup]="initSetupForm" (ngSubmit)="onSubmit()" *ngIf="!submitted">
  <h3>Your data would look like:</h3>

  <form id="dbTypeForm" formGroupName="dbTypeForm">
    <input class="form-check-input"
           type="radio"
           id="non-connected"
           formControlName="dbType"
           value="non-connected">
    <label class="form-check-label" for="non-connected">Non-connected records</label>

    <br>

    <input class="form-check-input"
           type="radio"
           formControlName="dbType"
           id="connected"
           value="connected">
    <label class="form-check-label" for="connected">Highly-connected records</label>
  </form>
  <button type="submit" class="btn btn-primary">Continue</button>
</form>

<app-elastic-config
  *ngIf="initSetupForm.value['dbTypeForm']['dbType'] === 'non-connected' && submitted">
</app-elastic-config>

<app-neo4j-config
  *ngIf="initSetupForm.value['dbTypeForm']['dbType'] === 'connected' && submitted">
</app-neo4j-config>
