#plus_icon{
  max-height: 2.5em;
}

:host {
  display: block;
}

app-elastic-schema-item {
  margin-left: 2em;
}

#key {
  display: inline;
  border-bottom: 2px solid green;
}

#container {
  border-left: 2px solid green;
}

select {
  width: 10em;
}

#primitive {
  margin-left: 1em;
  color: lightskyblue;
}

.keyParagraph {
  margin-left: 0.7em;
}
