<p *ngIf="isObject(item)">{{'{'}}</p>
<p *ngIf="isArray(item)">{{'['}}</p>

<div *ngFor="let i of (item | keyvalue)" id="container">
  <img *ngIf="true"
    [src]="removeImagePath"
       id="remove_icon"
       alt="remove icon"
       (click)="removeAction(i.key)">
  <div *ngIf="!isArray(item)">
    <p id="key"
     class="keyParagraph"
     (keydown)="buttonPressed($event, i.key)"
     contenteditable="true">{{i.key}}</p> :  </div>
  <div id="primitive" *ngIf="!isObject(i.value) && !isArray(i.value)">{{i.value}}</div>
  <div *ngIf="isObject(i.value) || isArray(i.value)">
    <app-elastic-schema-item [elsSchema]="elsSchema" [item]="i.value"></app-elastic-schema-item>
  </div>
</div>
<img *ngIf="isPlusAllowed(item)"
  [src]="plusImagePath"
     id="plus_icon"
     alt="plus_icon"
     (click)="addAction()">

<div *ngIf="isPlusAllowed(item)">
  <label for="dataType">Data Type:</label>
  <br>
  <select
    id="dataType"
    class="form-select"
    [(ngModel)]="chosenType"
  >
    <option *ngFor="let type of dataTypes" [value]="type.id">{{type.label}}</option>
  </select>
</div>

<p *ngIf="isArray(item)">{{']'}}</p>
<p *ngIf="isObject(item)">{{'}'}}</p>



